<a href="https://colab.research.google.com/github/btg1631/study_data_analytics/blob/main/docs/pandas/pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

## colab 사용법
- 실행 셀 순서가 변수 값 적용 많은 영향

In [ ]:
number = 5

In [ ]:
number = 10

In [ ]:
number

## pandas

### Series (시리즈) = index + value
- 단일 변수

In [21]:
list = [4, 5, -3, 8]
series_numbers = pd.Series(list)   # = pd.Series([4, 5, -3, 8])

In [24]:
series_numbers, type(series_numbers)  # Series

(0    4
 1    5
 2   -3
 3    8
 dtype: int64,
 pandas.core.series.Series)

In [27]:
series_numbers.index, series_numbers.values, series_numbers.shape, series_numbers.dtype

(RangeIndex(start=0, stop=4, step=1),
 array([ 4,  5, -3,  8]),
 (4,),
 dtype('int64'))

In [26]:
list, type(list)   # python list

([4, 5, -3, 8], list)

In [29]:
pd.Series(['과자', '음료', '아이스크림', '사탕'], index=['a', 'b', 'd', 'z'])

a       과자
b       음료
d    아이스크림
z       사탕
dtype: object

In [30]:
series_first = pd.Series([1, 2, 3, 4])
series_second = pd.Series([5, 6, 7, 8])

In [31]:
series_first + series_second

0     6
1     8
2    10
3    12
dtype: int64

In [33]:
result = series_first * series_second

In [34]:
result, type(result)

(0     5
 1    12
 2    21
 3    32
 dtype: int64,
 pandas.core.series.Series)

## loding dataset

In [19]:
pd.read_csv("sample_data/california_housing_train.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0